.btn-outline-info:hover {
    color: #fff;
}

.bi-suit-heart-fill {
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
