@page "{id}"
@model RecipeApp.Pages.DirectionModel
@{
}

<h2>Directions</h2>

<ul>
    @foreach (var direction in Model.Directions)
    {
        <li>@direction.StepNumber. @direction.Description</li>
    }
</ul>

<form method="post" class="d-flex flex-column w-50 gap-2">
    Step Number: <input type="number" name="_stepNumber" />
    Description: <input type="text" name="_description" />
    <button class="btn btn-outline-primary btn-sm" type="submit">Add direction</button>
</form>