@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="landing d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4">Welcome to RecipeApp</h1>
        <p>Discover a wide variety of delicious recipes for every occasion.</p>
        <a href="/Recipe/Index" class="btn landing-btn">Get Started</a>
    </div>
	<img class="img-landing" src="~/images/img-landing.png" />
</div>
