@page "{id}"
@model RecipeApp.Pages.IngredientModel
@{
}

<h2>Ingredients</h2>
<ul class="list-group list-group-flush">
    @foreach (var ingredient in Model.Ingredients)
    {
        <li class="list-group-item">@ingredient.Name @ingredient.Quantity @ingredient.Unit</li>
    }
</ul>

<form method="post" class="d-flex flex-column input-form gap-2">
    Name: <input type="text" name="_name" />
    Quantity: <input type="number" name="_quantity" />
    Unit: <input type="text" name="_unit" />
    <button class="btn btn-outline-primary" type="submit">Add ingredient</button>
    <a class="btn btn-primary" asp-page="./Recipe/Index">Back to List</a>
</form>